<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<div class="register_form">
  <%= form_for @user, :url=> users_path do |f|  %>
      <table>
        <tr>
          <td><%= f.label :First_name %></td>
          <td><%= f.text_field :first_name,:placeholder => "Your First Name" %></td>
        </tr>
        <tr>
          <td><%= f.label :Last_name %></td>
          <td><%= f.text_field :last_name,:placeholder => "Your Last Name" %></td>
        </tr>
        <tr>
          <td><%= f.label :DOB %></td>
          <td><%= f.text_field :dob,:placeholder => "Date Of Birth",:class => 'datepicker',:readonly => true%></td>
        </tr>
        <tr>
          <td><%= f.label :Login %></td>
          <td><%= f.text_field :login,:placeholder => "Your Login" %></td>
        </tr>
        <tr>
          <td><%= f.label :Email %></td>
          <td><%= f.text_field :email,:placeholder => "Your Email" %></td>
        </tr>
        <tr>
          <td><%= f.label :Password %></td>
          <td><%= f.password_field :password,:placeholder => "Password" %></td>
        </tr>
        <tr>
          <td><%= f.label :Confirm %></td>
          <td><%= f.password_field :password_confirmation,:placeholder => "Confirm Password" %></td>
        </tr>
      </table>
      <%= f.submit "Register" %>
  <% end %>
</div>